
    <div class="flex justify-center items-center min-h-screen bg-gradient-to-br from-[#1e293b] to-[#0f172a] p-6">
  <div class="w-full max-w-6xl rounded-2xl bg-white/10 backdrop-blur-md border border-white/20 shadow-xl overflow-hidden">
    <table class="min-w-full text-black">
      <thead>
        <tr class="bg-white/10 text-black uppercase text-sm font-semibold">
          <th class="p-5 text-left">Nombre</th>
          <th class="p-5 text-left">Stock</th>
          <th class="p-5 text-left">Precio</th>
        </tr>
      </thead>
      <tbody>
        @for(producto of productos; track $index){
        <tr class="odd:bg-white/5 even:bg-white/10">
          <td class="p-5">{{producto.nombre | nombreProducto}}</td>
          <td class="p-5">{{producto.stock}}</td>
          <td class="p-5">{{producto.precio | precio: 'USD'}}</td>
        </tr>
        }
      </tbody>
      <a routerLink="/registro" routerLinkActive="active">Registrar</a>
    </table>
  </div>
</div>

