<footer class="footer-glass">
  <div class="footer-container">
    <div class="footer-columns">
      <div class="footer-brand">
        <a href="/home">
        <img style="width: 50px; " src="https://i.postimg.cc/FHhYPNrm/Whats-App-Image-2025-08-04-at-00-00-18-7388fcbc-removebg-preview.png" alt="">
        <h2 class="footer-logo">Zappix</h2>
        </a>
        <p class="footer-desc">Estilo, comodidad y actitud. ¡Tu mejor paso comienza aquí!</p>
      </div>
      <div class="footer-links">
        <h3>Enlaces</h3>
        <ul>
          <li><a routerLink="/" class="footer-link">Inicio</a></li>
          <li><a routerLink="/productos" class="footer-link">Productos</a></li>
          <li><a routerLink="/nosotros" class="footer-link">Sobre Nosotros</a></li>
          <li><a routerLink="/contacto" class="footer-link">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3>Contacto</h3>
        <p>📍 Quito, Ecuador</p>
        <p>📞 +593 987 654 321</p>
        <p>✉️ info-zapateria.com</p>
      </div>
    </div>
    <div class="footer-bottom" style="color: aliceblue;">
      <p>© 2025 Zappix. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>

