<nav class="navbar-glass">
  <div class="navbar-container">
    <div class="navbar-header">
      <a routerLink="/" routerLinkActive="active" class="navbar-logo">Zappix</a>
      <button class="navbar-toggle" type="button">
        <span class="sr-only">Open main menu</span>
        <svg class="toggle-icon" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <div class="navbar-menu">
      <ul class="navbar-links">
        <li><a routerLink="/" routerLinkActive="active" class="navbar-link">Inicio</a></li>
        <li><a routerLink="/productos" routerLinkActive="active" class="navbar-link">Productos</a></li>
        <li><a routerLink="/sobre-nosotros" routerLinkActive="active" class="navbar-link">Sobre Nosotros</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active" class="navbar-link">Contactos</a></li>
        <li><a routerLink="/lista" routerLinkActive="active" class="navbar-link">Lista</a></li>
        <li>@if(!authServicio.sesionIniciada()){ <a routerLink="/login"  routerLinkActive="active" class="navbar-link">Iniciar Sesion</a>}</li>
        <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
      </ul>
    </div>
  </div>
</nav>

