<body>
<header>
    <div class="left">
        <h1>CONTÁCTANOS</h1>
        <img src="https://i.postimg.cc/Dy256z62/2.png" alt="">
    </div>
    <div class="author">
        <h3>Más Información</h3>
        <div>
            <p>Para conocer mas sobre nosotros,</p>
        </div>
        <div>
            <p> por favor llenar el siguiente formulario</p>
        </div>
        <img src="https://i.postimg.cc/VkwSnSWR/code.png" alt="">
    </div>
</header>
<div class="banner">
    <div class="product">
        <div class="soda" style="--url: url(https://i.postimg.cc/wBXzmppR/imagen-2025-08-03-222851179.png)">
        </div>
        <div class="soda" style="--url: url(https://i.postimg.cc/ZqMQns9v/imagen-2025-08-03-223255537.png)">
        </div>
    </div>


    <div class="rock">
        <img src="https://i.postimg.cc/x8jHvX2h/rock1.png" alt="">
        <img src="https://i.postimg.cc/QMVybMXB/rock2.png" alt="">
        <img src="https://i.postimg.cc/Qdfz17rG/rock3.png" alt="">
    </div>
</div>
<div>
    <header>
    <div class="left">
        <h1>LLENA</h1>
        <img src="https://i.postimg.cc/52hb7MWp/imagen-2025-08-04-004615740.png" alt="">
    </div>
    <div class="author">
        <h3>Nuestro Formulario</h3>
        <div>
            <p>Para conocer mas sobre nosotros,</p>
        </div>
        <div>
            <p> por favor llena el siguiente formulario</p>
        </div>
        <img src="https://i.postimg.cc/VkwSnSWR/code.png" alt="">
    </div>
</header>
<section class="formulario">
    <form (ngSubmit)="agregarCliente(formulario)" #formulario="ngForm" class="form">
        <h2>Formulario de Contacto</h2>
        <label for="nombre">Nombre:</label>
        <input [(ngModel)]="nombre"  type="text" id="nombre" name="nombre" required>

        <label for="apellido">Apellido:</label>
        <input [(ngModel)]="apellido" type="text" id="apellido" name="apellido" required>

        <label for="direccion">Direccion:</label>
        <input [(ngModel)]="direccion" type="direccion" id="direccion" name="direccion" required>

        <label for="email">Correo Electrónico:</label>
        <input [(ngModel)]="email" type="email" id="email" name="email" required>

        <button type="submit">Enviar</button>
        
    </form>
</section>
</div>
<br>
</body>