<div class="header">
    <div class="textos">
        <h1 class="titulo-sobre">Zappix</h1>
        <h3 class="subtitulo-Sobre">Zapatillas</h3>
        <a href="" class="boton">Explora Nuestros productos</a>
    </div>
    <div class="sesgoabajo"></div>
</div>

<div class="main">
    <section class="acerca-de">
        <div class="contenedor">
            <h2 class="sobre-nosotros">Sobre nosotros</h2>
            <h1 class="slogan">AJAJJAJAJ</h1>
            <p class="parrafo-sobre">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, nisi? Fugiat autem
                consequuntur quo hic soluta illum temporibus odio aperiam facere, voluptatibus eveniet doloremque cumque
                inventore. Libero, magnam. Accusamus, quas.</p>
            <p class="parrafo-sobre">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, nisi? Fugiat autem
                consequuntur quo hic soluta illum temporibus odio aperiam facere, voluptatibus eveniet doloremque cumque
                inventore. Libero, magnam. Accusamus, quas.</p>
            <a href="#">JAJAJA</a>
        </div>
    </section>

    <section class="galeria-sobre">
        <div class="sesgoarriba"></div>
        <div class="imagenes-sobre"><img
                src="https://images.pexels.com/photos/9969261/pexels-photo-9969261.jpeg?_gl=1*knxau2*_ga*MjU3MTgzNDMuMTc1NDIzOTc2Mg..*_ga_8JE65Q40S6*czE3NTQyMzk3NjEkbzEkZzEkdDE3NTQyMzk3NzYkajQ1JGwwJGgw"
                alt=""></div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg"
                alt="">
        </div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/2529157/pexels-photo-2529157.jpeg"
                alt="">
            <div class="encima-img">
                <h2>Zappix </h2>
                <div></div>
            </div>
        </div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/6050920/pexels-photo-6050920.jpeg"
                alt="">
        </div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/3611797/pexels-photo-3611797.jpeg"
                alt="">
        </div>
        <div class="sesgoabajo"></div>
    </section>

    <section class="miembros">
        <div class="contenedor">
            <h2 class="sobre-nosotros">Nuestro equipo</h2>
            <h3 class="slogan">Conoce a nuestro euqipo de trabajo</h3>
            <div class="cards">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/6556/6556391.png" alt="">
                    <h4>Christophher</h4>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/6556/6556391.png" alt="">
                    <h4>jean</h4>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fondo">
        <div class="sesgoarriba"></div>
        <div class="contenedor">
            <h2 class="titulo-servicio">Nuestros servicios</h2>
            <h3 class="subtitulo-servicio"> Conoce nuestros servicios</h3>
            <div class="servicio">
                <div class="car-servicio-content">
                    <div class="card-servicio">
                        <span></span>
                        <div class="content">Servicio</div>
                    </div>
                    <div class="card-servicio">
                        <span></span>
                        <div class="content">Servicio</div>
                    </div>
                    <div class="card-servicio">
                        <span></span>
                        <div class="content">Servicio</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>