<div class="header">
    <div class="textos">
        <h1 class="titulo-sobre">Zappix</h1>
        <h3 class="subtitulo-Sobre">Zapatillas</h3>
        <a href="" class="boton">Explora Nuestros productos</a>
    </div>
    <div class="sesgoabajo"></div>
</div>

<div class="main">
    <section class="acerca-de">
        <div class="contenedor">
            <h2 class="sobre-nosotros">Sobre nosotros</h2>
            <h1 class="slogan"><strong>- Camina con estilo -</strong></h1>
            <p class="parrafo-sobre">En nuestra tienda Nike, nos apasiona el deporte y el estilo de vida activo. Nos
                dedicamos a ofrecer productos originales de la más alta calidad que inspiran a cada persona a superarse
                día a día. Desde zapatillas de alto rendimiento hasta ropa deportiva y accesorios innovadores, brindamos
                una experiencia de compra enfocada en la comodidad, la autenticidad y el rendimiento. Ya sea que seas un
                atleta profesional, un aficionado al deporte o alguien que simplemente valora la moda deportiva, estamos
                aquí para acompañarte en cada paso de tu camino.</p>
            <p class="parrafo-sobre">Somos una tienda especializada en productos Nike, comprometidos con brindar lo
                mejor en innovación deportiva, estilo y comodidad. Nuestro objetivo es conectar a las personas con su
                máximo potencial a través de calzado, ropa y accesorios diseñados para rendir al más alto nivel. Nos
                enorgullece ofrecer un servicio cercano, asesoría personalizada y una selección cuidadosamente curada
                para cada tipo de cliente, desde deportistas hasta amantes del streetwear. En cada visita, buscamos
                inspirarte a moverte, a crecer y a vivir con pasión.</p>
        </div>
    </section>

    <section class="galeria-sobre">
        <div class="sesgoarriba"></div>
        <div class="imagenes-sobre"><img
                src="https://images.pexels.com/photos/9969261/pexels-photo-9969261.jpeg?_gl=1*knxau2*_ga*MjU3MTgzNDMuMTc1NDIzOTc2Mg..*_ga_8JE65Q40S6*czE3NTQyMzk3NjEkbzEkZzEkdDE3NTQyMzk3NzYkajQ1JGwwJGgw"
                alt=""></div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg"
                alt="">
        </div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/2529157/pexels-photo-2529157.jpeg"
                alt="">
        </div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/6050920/pexels-photo-6050920.jpeg"
                alt="">
        </div>
        <div class="imagenes-sobre"><img src="https://images.pexels.com/photos/3611797/pexels-photo-3611797.jpeg"
                alt="">
        </div>
        <div class="sesgoabajo"></div>
    </section>

    <section class="miembros">
        <div class="contenedor">
            <h2 class="sobre-nosotros">Nuestro equipo</h2>
            <h3 class="slogan">Conoce a nuestro euqipo de trabajo</h3>
            <div class="cards">
                <div class="card">
                    <img src="https://i.postimg.cc/MH4nPQpF/imagen-2025-08-03-235050191-removebg-preview.png" alt="">
                    <h4>Christopher Chasiloa</h4>
                    <p><strong>Diseñador</strong> RockStar.</p>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/MZrfKhmm/imagen-2025-08-03-235132876-removebg-preview.png" alt="">
                    <h4>Jean carlos Itaz</h4>
                    <p><strong>Diseñador</strong> Skateboarding.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fondo">
        <div class="sesgoarriba"></div>
        <div class="contenedor">
            <h2 class="titulo-servicio">Nuestros servicios</h2>
            <h3 class="subtitulo-servicio"> Conoce nuestros servicios</h3>
            <div class="servicio">
                <div class="car-servicio-content">
                    <div class="card-servicio">
                        <span></span>
                        <div class="content">Servicio</div>
                    </div>
                    <div class="card-servicio">
                        <span></span>
                        <div class="content">Servicio</div>
                    </div>
                    <div class="card-servicio">
                        <span></span>
                        <div class="content">Servicio</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>