<section class="py-24 relative bg-cover bg-no-repeat bg-[url('https://i.imgur.com/gBxP6oJ.gif')]">
        <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
            <div class="w-full justify-start items-center gap-8 grid lg:grid-cols-2 grid-cols-1">
                <div class="w-full flex-col justify-start lg:items-start items-center gap-10 inline-flex">
                    <div class="w-full flex-col justify-start lg:items-start items-center gap-4 flex">
                        <h2 class="text-white text-4xl font-bold font-manrope leading-normal lg:text-start text-center">Donde comienza tu paso más fuerte.</h2>
                        <p class="text-white text-base font-normal leading-relaxed lg:text-start text-center">En Zappix, entendemos que cada paso habla de ti. Somos una tienda especializada en calzado urbano y deportivo que fusiona lo mejor del diseño moderno con la comodidad que necesitas. Aquí encontrarás desde sneakers de alto rendimiento hasta estilos casuales con personalidad, pensados para destacar en la calle o rendir al máximo en tus entrenamientos. Con marcas innovadoras y modelos de tendencia, Zappix es el punto de partida para quienes caminan con actitud, estilo y propósito.</p>
                    </div>
                    <button class="sm:w-fit w-full px-3.5 py-2 bg-indigo-600 hover:bg-indigo-800 transition-all duration-700 ease-in-out rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] justify-center items-center flex">
                        <span class="px-1.5 text-white text-sm font-medium leading-6">Get Started</span>
                    </button>
                </div>
                <img class="lg:mx-0 mx-auto h-[480px] w-full max-w-4xl rounded-3xl object-cover" src="https://i.pinimg.com/originals/a6/66/54/a666548875be484e20255a5acf411f7c.gif" alt="about Us image" />
            </div>
        </div>
    </section>

