<div class="banner">
    <div class="slider" style="--quantity:10">
        <div class="item" style="--position: 1"><img src="https://i.postimg.cc/bw4j4RBw/imagen-2025-08-01-043118914-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 2"><img src="https://i.postimg.cc/7L4KCGCN/imagen-2025-08-01-043310313-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 3"><img src="https://i.postimg.cc/3JD1nCmB/imagen-2025-08-01-043346874-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 4"><img src="https://i.postimg.cc/8PSR18x2/imagen-2025-08-01-045129889-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 5"><img src="https://i.postimg.cc/WzX1LJBb/imagen-2025-08-01-045353063-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 6"><img src="https://i.postimg.cc/Bv09pnzh/imagen-2025-08-01-045541669-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 7"><img src="https://i.postimg.cc/ZYw1yShd/imagen-2025-08-01-051607574-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 8"><img src="https://i.postimg.cc/3JdJk1z3/imagen-2025-08-01-051716406-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 9"><img src="https://i.postimg.cc/fT9Q4r6S/imagen-2025-08-01-051955640-removebg-preview.png" alt=""></div>
        <div class="item" style="--position: 10"><img src="https://i.postimg.cc/LX15rXTr/imagen-2025-08-01-043043238-removebg-preview.png" alt=""></div>
    </div>
    <div class="content">
        <h1 data-content="ZAPATOS">
            ZAPATOS
        </h1>
        <div class="author">
            <h2>JC</h2>
        </div>
        <div class="model"></div>
    </div>
</div> 
<div class="cartas">
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/71d0d5ac-e6a2-4d7e-b4b7-ef1e60d4cb58/W+NIKE+COURT+VISION+ALTA+LTR.png" alt="">
                <span class="card-title">Nike Court Vision Alta</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">5%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/cdc79cf3-ca49-4318-a15e-a7b137cf9884/W+NIKE+DUNK+LOW++TWIST.png">
                <span class="card-title">Nike Dunk Low Twist</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">20%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/a76dbe11-bfd6-428f-9d3c-4c4e36ea8a47/FLEX+RUNNER+3+%28GS%29.png">
                <span class="card-title">Nike Flex Runner 3</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">10%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/23dd8c57-482b-4b97-94b6-4aedd09b03b8/WMNS+NIKE+AIR+MAX+SC.png" alt="">
                <span class="card-title">Nike Air Max SC 3</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">14%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/71d0d5ac-e6a2-4d7e-b4b7-ef1e60d4cb58/W+NIKE+COURT+VISION+ALTA+LTR.png" alt="">
                <span class="card-title">Nike Court Vision Alta</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">5%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/cdc79cf3-ca49-4318-a15e-a7b137cf9884/W+NIKE+DUNK+LOW++TWIST.png">
                <span class="card-title">Nike Dunk Low Twist</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">20%</span>
            </div>
        </div>
    </div>
    <br>
</div>
