@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.body {
    background-color: #D2D2D2;
    background-image:
        repeating-linear-gradient(to right, transparent 0 100px,
            #25283b22 100px 101px),
        repeating-linear-gradient(to bottom, transparent 0 100px,
            #25283b22 100px 101px);
}

.body::before {
    position: absolute;
    width: min(2000px, 100vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-image: url(https://i.postimg.cc/kGVrcVZG/bg-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;

}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1)*(360 / var(--quantity))* 1deg)) translateZ(550px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    margin: 0;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author {
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}

.banner .content h2 {
    font-size: 3em;
}

.banner .content .model {
    background-image: url(https://i.postimg.cc/mk4XcPsK/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .banner .slider {
    width: 150px;
    height: 200px;
    left: calc(50% - 75px);
    transform: perspective(800px);
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1)*(360 / var(--quantity))* 1deg)) translateZ(400px);
  }

  .banner .content h1 {
    font-size: 8em;
  }

  .banner .content h2 {
    font-size: 2em;
  }

  .banner .content .author {
    max-width: 150px;
  }

  .banner .content .model {
    background-size: auto 110%;
  }
}

/* M칩viles grandes */
@media (max-width: 768px) {
  .banner {
    height: auto;
    padding-bottom: 50px;
  }

  .banner .slider {
    position: relative;
    top: 20px;
    width: 120px;
    height: 160px;
    left: calc(50% - 60px);
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1)*(360 / var(--quantity))* 1deg)) translateZ(300px);
  }

  .banner .content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
  }

  .banner .content h1 {
    font-size: 5em;
  }

  .banner .content h2 {
    font-size: 1.5em;
  }

  .banner .content .author {
    text-align: center;
    max-width: 100%;
  }

  .banner .content .model {
    height: 50vh;
    background-size: auto 100%;
  }
}


@media (max-width:200px) {
  .banner .slider {
    width: 100px;
    height: 140px;
    left: calc(50% - 50px);
  }

  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1)*(360 / var(--quantity))* 1deg)) translateZ(200px);
  }

  .banner .content h1 {
    font-size: 3em;
  }

  .banner .content h2 {
    font-size: 1.2em;
  }

  .banner .content .model {
    height: 40vh;
    background-size: auto 90%;
  }
}


.cartas {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;

}

.card {
    padding-top: 50px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;

    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;

}

.card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
    background: #f5f5f5;
    border-radius: 10px 100px 10px 10px;
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
}

.content-box .card-title {
    display: inline-block;
    color: black;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #000;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(46, 48, 49);
    background: rgb(148, 142, 142);
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
}

.date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgb(94, 97, 99);
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
    display: block;
    text-align: center;
}

.date-box .month {
    color: rgb(118, 120, 121);
    font-size: 9px;
    font-weight: 700;
}

.date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: rgb(67, 74, 77);
}

.carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

}

.elemento-carrusel {
    flex: 1;
    margin: 15px;
    width: 100%;
    height: 350px;
}

.elemento-carrusel img {
    object-fit: contain;

}


/* galeria */

.galeria>img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #928f8f;
}

.galeria {
    display: grid;
    grid-template-columns:
        repeat(auto-fit,
            minmax(150px, 1fr));
    gap: 10px;
    margin-top: 50px;
    margin: 25px;
}


/*cartas efectos*/
.cartas-efectos {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
}


.card-products-cart {
    margin: 25px;
    width: 300px;
    height: 350px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-right: 10px;
}

.card-products-cart-img-1 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-1 img {

    margin-bottom: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-2 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-2 img {

    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-3 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-3 img {

    margin-bottom: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-4 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-4 img {
    height: 225px;
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-5 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-5 img {
    margin-bottom: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-6 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-6 img {
    margin-bottom: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-7 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-7 img {
    height: 200px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-products-cart-img-8 {

    margin-bottom: 50px;
    height: 40%;
    width: 100%;
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 250px;
}

.card-products-cart-img-8 img {
    margin-bottom: 100%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.card-products-cart-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-products-cart-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-products-cart-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-products-cart-img-1:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-2:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-3:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-4:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-5:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-6:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-7:hover {
    transform: translateY(-25%);

}

.card-products-cart-img-8:hover {
    transform: translateY(-25%);

}

.card-products-cart-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

@media (max-width: 1024px) {
  .cartas-efectos {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .card-products-cart {
    max-width: 220px;
  }

  .text-title {
    font-size: 1.1em;
  }

  .text-body {
    font-size: 0.85em;
  }
}

/* Tablets / m칩viles grandes */
@media (max-width: 768px) {
  .cartas-efectos {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .card-products-cart {
    max-width: 90%;
    margin: auto;
  }

  .card-products-cart-img img {
    max-height: 180px;
  }

  .text-title {
    font-size: 1em;
  }

  .text-body {
    font-size: 0.8em;
  }

  .card-products-cart-footer {
    flex-direction: column;
    gap: 5px;
  }
}

/* M칩viles peque침os */
@media (max-width: 480px) {
  .cartas-efectos {
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .card-products-cart {
    max-width: 95%;
  }

  .card-products-cart-img img {
    max-height: 150px;
  }

  .text-title {
    font-size: 0.95em;
  }

  .text-body {
    font-size: 0.75em;
  }

  .card-products-cart-button {
    padding: 0.2em 0.8em;
  }
}