<div class="banner">
    <div class="slider" style="--quantity:10">
        <div class="item" style="--position: 1"><img src="https://i.etsystatic.com/19481817/r/il/b0581a/2099487462/il_570xN.2099487462_5v1f.jpg" alt=""></div>
        <div class="item" style="--position: 2"><img src="https://images.photowall.com/products/57308/dragon-on-the-rock.jpg?h=699&q=85" alt=""></div>
        <div class="item" style="--position: 3"><img src="https://media.gettyimages.com/id/693203680/es/vector/dragon.jpg?s=612x612&w=gi&k=20&c=gcoDxWpzPw-WOvOZujQpJrHHvg96zqKZH8V4_foT7Jk=" alt=""></div>
        <div class="item" style="--position: 4"><img src="https://media.gettyimages.com/id/1159980027/vector/dragon-head-on-stone-background.jpg?b=1&s=1024x1024&w=gi&k=20&c=SIHlsxlCKunLzZJAe0EwHqabV8-TJpEMQ8i0gqU3NGA=" alt=""></div>
        <div class="item" style="--position: 5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpq_qQiykuRE68DW9THBGvtXVX5irqxFV0SpFdtDGGVyrRpH8afqaSm_Qjk8eZLWCqnEY&usqp=CAU" alt=""></div>
        <div class="item" style="--position: 6"><img src="https://previews.123rf.com/images/daicokuebisu/daicokuebisu1711/daicokuebisu171100225/90602991-japanese-style-dragon-illustration-isolated-on-white.jpg" alt=""></div>
        <div class="item" style="--position: 7"><img src="https://i.etsystatic.com/19481817/r/il/b0581a/2099487462/il_570xN.2099487462_5v1f.jpg" alt=""></div>
        <div class="item" style="--position: 8"><img src="https://i.etsystatic.com/19481817/r/il/b0581a/2099487462/il_570xN.2099487462_5v1f.jpg" alt=""></div>
        <div class="item" style="--position: 9"><img src="https://i.etsystatic.com/19481817/r/il/b0581a/2099487462/il_570xN.2099487462_5v1f.jpg" alt=""></div>
        <div class="item" style="--position: 10"><img src="https://i.etsystatic.com/19481817/r/il/b0581a/2099487462/il_570xN.2099487462_5v1f.jpg" alt=""></div>
    </div>
    <div class="content">
        <h1 data-content="NUESTROS PRODUCTOS">
            NUESTROS PRODUCTOS
        </h1>
        <div class="author">
            <h2>JC</h2>
            <P><b>Trabajo</b></P>
        </div>
        <div class="model"></div>
    </div>
</div> 