<div class="slider">
    <div class="row fullheight">
        <div class="col-6 fullheight bg-red"></div>
        <div class="col-6 fullheight bg-blue">
            <div class="product-img">
                <div class="img-wrapper">
                    <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2025/07/31/USAT/85453905007-nike-air-zoom-pegasus-41-alabama.png?crop=1999,1125,x0,y437&width=368&height=207&format=pjpg&auto=webp" alt="">
                </div>
            </div>
            <div class="more-images">
                <div class="more-images-item">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div> 