<div class="slider">
    
    <div class="row fullheight">
        <div class="col-6 fullheight">
            <div class="product-info">
                <div class="info-wrapper">
                    <div class="product-price">
                        <span>$</span>230
                    </div>
                    <div class="product-name">
                        <h2>
                            Alabama Pegasus 41
                        </h2>
                    </div>
                    <div class="product-size">
                        <h3>tallas</h3>
                        <div class="size-wrapper">
                            <div>35</div>
                            <div>36</div>
                            <div class="active">37</div>
                            <div>38</div>
                            <div>39</div>
                            <div>40</div>
                        </div>
                    </div>
                    <div class="product-color">
                        <h3>COLORES</h3>
                        <div class="color-wrapper">
                            <div class="active">
                                <div class="bg-red"></div>
                            </div>
                            <div class="">
                                <div class="bg-blue"></div>
                            </div>
                            <div class="">
                                <div class="bg-white"></div>
                            </div>
                        </div>
                    </div>
                    <div class="producto-description">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae aliquam tempora
                            veniam
                            molestiae nulla voluptates iusto labore accusamus corporis pariatur quod commodi assumenda
                            itaque, harum aut deleniti odio dolorem!
                        </p>
                    </div>
                    <div class="button">
                        <button>
                            Agregar al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 fullheight img-col" style="
        background-image: linear-gradient(to top right, #e19e95, #fd835c)">
            <div class="product-img">
                <div class="img-wrapper">
                    <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2025/07/31/USAT/85453905007-nike-air-zoom-pegasus-41-alabama.png?crop=1999,1125,x0,y437&width=368&height=207&format=pjpg&auto=webp"
                        alt="">
                </div>
            </div>
            <div class="more-images">
                <div class="more-images-item">
                    <img src="https://d.newsweek.com/en/full/2693668/alabama-crimson-tide-nike-zoom-pegasus-41.png?w=1200&f=dd87a428c5ba0cae10c9c6cc1aef8bde"
                        alt="">
                </div>
                <div class="more-images-item">
                    <img src="https://images.stockx.com/images/Nike-Air-Zoom-Pegasus-41-Alabama.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&q=90&dpr=2&trim=color&updated_at=1724730914"
                        alt="">
                </div>
                <div class="more-images-item">
                    <img src="https://u-mercari-images.mercdn.net/photos/m67076713926_1.jpg" alt="">
                </div>
                <div class="more-images-item">
                    <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2025/07/31/USAT/85453905007-nike-air-zoom-pegasus-41-alabama.png?crop=1999,1125,x0,y437&width=368&height=207&format=pjpg&auto=webp"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>