<div id="slider" class="slider" #slider>
    <!-- siler 1 -->
    <div class="row fullheight slide">
        <div class="col-6 fullheight">
            <div class="product-info">
                <div class="info-wrapper">
                    <div class="product-price left-to-right">
                        <span>$</span>230
                    </div>
                    <div class="product-name left-to-right">
                        <h2>
                            Jordan Heir "Royalty"
                        </h2>
                    </div>
                    <div class="product-size left-to-right">
                        <h3>tallas</h3>
                        <div class="size-wrapper">
                            <div>35</div>
                            <div>36</div>
                            <div class="active">37</div>
                            <div>38</div>
                            <div>39</div>
                            <div>40</div>
                        </div>
                    </div>
                    <div class="product-color left-to-right">
                        <h3>COLORES</h3>
                        <div class="color-wrapper">
                            <div class="active">
                                <div class="bg-morado"></div>
                            </div>
                            <div class="">
                                <div class="bg-blue"></div>
                            </div>
                            <div class="">
                                <div class="bg-white"></div>
                            </div>
                        </div>
                    </div>
                    <div class="producto-description left-to-right">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae aliquam tempora
                            veniam
                            molestiae nulla voluptates iusto labore accusamus corporis pariatur quod commodi assumenda
                            itaque, harum aut deleniti odio dolorem!
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-6 fullheight img-col" style="
        background-image: linear-gradient(to top right, #726c91, #56489D)">
            <div class="product-img">
                <div class="img-wrapper right-to-let">
                    <img src="https://i.supersales.co.uk/p/nike-jordan-heir-series-royalty-womens-basketball-shoes-purple.webp?imgid=z6srGv1ZJOvTF1RSbR1hKxqx5_bwcOveTF8eSN2Nb_g/rs:fit:600:500:1/aHR0cHM6Ly9zdGF0aWMubmlrZS5jb20vYS9pbWFnZXMvY19saW1pdCUyQ2hfMjUwMCUyQ3dfMjUwMCUyQ2ZfcG5nLzQzYjA0YWI2LTA5OGMtNGM3OC04MWZlLWE1OTc3NWMzM2U2Zi9pbWFnZS5wbmc_YT0x.webp"
                        alt="">
                </div>
            </div>
            <div class="more-images">
                <div class="more-images-item button-up">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a556107b-5ff2-445f-acb9-44e97e4fdddd/WMNS+JORDAN+HEIR+SERIES+AS.png"
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a33846a5-4e07-4e8e-9a75-366f8de3d9af/WMNS+JORDAN+HEIR+SERIES+AS.png"
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/cf763783-588c-4109-8db3-3e0fbf37d570/WMNS+JORDAN+HEIR+SERIES+AS.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- fin slider 1 -->

    <!-- siler 2 -->
    <div class="row fullheight slide">
        <div class="col-6 fullheight">
            <div class="product-info">
                <div class="info-wrapper">
                    <div class="product-price left-to-right">
                        <span>$</span>220
                    </div>
                    <div class="product-name left-to-right">
                        <h2>
                            Jordan 4 "Rare Air"
                        </h2>
                    </div>
                    <div class="product-size left-to-right">
                        <h3>tallas</h3>
                        <div class="size-wrapper">
                            <div>35</div>
                            <div>36</div>
                            <div class="active">37</div>
                            <div>38</div>
                            <div>39</div>
                            <div>40</div>
                        </div>
                    </div>
                    <div class="product-color left-to-right">
                        <h3>COLORES</h3>
                        <div class="color-wrapper">
                            <div class="active">
                                <div class="bg-red"></div>
                            </div>
                            <div class="">
                                <div class="bg-blue"></div>
                            </div>
                            <div class="">
                                <div class="bg-black"></div>
                            </div>
                        </div>
                    </div>
                    <div class="producto-description left-to-right">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae aliquam tempora
                            veniam
                            molestiae nulla voluptates iusto labore accusamus corporis pariatur quod commodi assumenda
                            itaque, harum aut deleniti odio dolorem!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 fullheight img-col" style="
        background-image: linear-gradient(to top right, #6b6d68, #222923)">
            <div class="product-img">
                <div class="img-wrapper right-to-let">
                    <img src="https://cdn.shopify.com/s/files/1/0640/3846/9846/files/Air-Jordan-4-Rare-Air-1.webp?v=1753523291?width=3840&quality=75"
                        alt="">
                </div>
            </div>
            <div class="more-images">
                <div class="more-images-item button-up">
                    <img src="https://limitededt.com/cdn/shop/files/2_6fa5ffb3-8571-473f-a9f7-56afe3ab66a0_800x.jpg?v=1753325361"
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwU2EJoEk6EabFmtcQ-x_t7hRC_vDqRw0qaA&s"
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://sneakerboxshop.ca/cdn/shop/files/air-jordan-4-retro-rare-air-fv5029-003-rare-air-SNEAKERBOX-03.jpg?v=1753301021"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- fin slider 2 -->

    <!-- siler 3 -->
    <div class="row fullheight slide">
        <div class="col-6 fullheight">
            <div class="product-info">
                <div class="info-wrapper">
                    <div class="product-price left-to-right">
                        <span>$</span>180
                    </div>
                    <div class="product-name left-to-right">
                        <h2>
                            Jordan "Shattered"
                        </h2>
                    </div>
                    <div class="product-size left-to-right">
                        <h3>tallas</h3>
                        <div class="size-wrapper">
                            <div>35</div>
                            <div>36</div>
                            <div class="active">37</div>
                            <div>38</div>
                            <div>39</div>
                            <div>40</div>
                        </div>
                    </div>
                    <div class="product-color left-to-right">
                        <h3>COLORES</h3>
                        <div class="color-wrapper">
                            <div class="active">
                                <div class="bg-black"></div>
                            </div>
                            <div class="">
                                <div class="bg-white"></div>
                            </div>
                            <div class="">
                                <div class="bg-orange"></div>
                            </div>
                        </div>
                    </div>
                    <div class="producto-description left-to-right">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae aliquam tempora
                            veniam
                            molestiae nulla voluptates iusto labore accusamus corporis pariatur quod commodi assumenda
                            itaque, harum aut deleniti odio dolorem!
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-6 fullheight img-col" style="
        background-image: linear-gradient(to top right, #eb8262, #e94a15)">
            <div class="product-img">
                <div class="img-wrapper right-to-let">
                    <img src="https://www.kickgame.com/cdn/shop/products/air-jordan-1-retro-high-og-shattered-backboard-3-555088-028_1.png?v=1658327479"
                        alt="">
                </div>
            </div>
            <div class="more-images">
                <div class="more-images-item button-up">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgp3sFVP5tAQYRd4uXWtg8QJ7UgS6NlR2hQA&s  "
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://images.stockx.com/360/Air-Jordan-1-Retro-High-Satin-Shattered-Backboard-W/Images/Air-Jordan-1-Retro-High-Satin-Shattered-Backboard-W/Lv2/img01.jpg?w=480&q=60&dpr=1&updated_at=1635277586&h=320"
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://media.revistagq.com/photos/66c4a7d805d55af71740a412/16:9/w_2560%2Cc_limit/Air-Jordan-1-High-OG-Shattered-Backboard-2.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- fin slider 3 -->

    <!-- siler 4-->
    <div class="row fullheight slide">
        <div class="col-6 fullheight">
            <div class="product-info">
                <div class="info-wrapper">
                    <div class="product-price left-to-right">
                        <span>$</span>150
                    </div>
                    <div class="product-name left-to-right">
                        <h2>
                            UNC Pegasus 41
                        </h2>
                    </div>
                    <div class="product-size left-to-right">
                        <h3>tallas</h3>
                        <div class="size-wrapper">
                            <div>35</div>
                            <div>36</div>
                            <div class="active">37</div>
                            <div>38</div>
                            <div>39</div>
                            <div>40</div>
                        </div>
                    </div>
                    <div class="product-color left-to-right">
                        <h3>COLORES</h3>
                        <div class="color-wrapper">
                            <div class="active">
                                <div class="bg-cele"></div>
                            </div>
                            <div class="">
                                <div class="bg-black"></div>
                            </div>
                            <div class="">
                                <div class="bg-white"></div>
                            </div>
                        </div>
                    </div>
                    <div class="producto-description left-to-right">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae aliquam tempora
                            veniam
                            molestiae nulla voluptates iusto labore accusamus corporis pariatur quod commodi assumenda
                            itaque, harum aut deleniti odio dolorem!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 fullheight img-col" style="
        background-image: linear-gradient(to top right, #becbdd, #80a5d5)">
            <div class="product-img">
                <div class="img-wrapper right-to-let">
                    <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2025/07/31/USAT/85454872007-nike-air-zoom-pegasus-41-unc.png?width=1733&height=1733&fit=crop&format=pjpg&auto=webp"
                        alt="">
                </div>
            </div>
            <div class="more-images">
                <div class="more-images-item button-up">
                    <img src="https://fanatics.frgimages.com/north-carolina-tar-heels/unisex-nike-carolina-blue-north-carolina-tar-heels-zoom-pegasus-41-running-shoes_ss5_p-202619714+pv-3+u-2lac1tqlinwplywlm8ea+v-ej38avqqoeedszf39kba.jpg?_hv=2&w=900"
                        alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://cdn.flightclub.com/TEMPLATE/460531/1.jpg" alt="">
                </div>
                <div class="more-images-item button-up">
                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/efc74fdc-4099-4185-9cd6-5ad99fe1659f/NIKE+ZOOM+PEGASUS+41+UNC.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- fin slider 4-->

    <div id="slide-control" class="slide-control" #slideControl>
        <div class="slide-control-item">
            <img src="https://i.supersales.co.uk/p/nike-jordan-heir-series-royalty-womens-basketball-shoes-purple.webp?imgid=z6srGv1ZJOvTF1RSbR1hKxqx5_bwcOveTF8eSN2Nb_g/rs:fit:600:500:1/aHR0cHM6Ly9zdGF0aWMubmlrZS5jb20vYS9pbWFnZXMvY19saW1pdCUyQ2hfMjUwMCUyQ3dfMjUwMCUyQ2ZfcG5nLzQzYjA0YWI2LTA5OGMtNGM3OC04MWZlLWE1OTc3NWMzM2U2Zi9pbWFnZS5wbmc_YT0x.webp"
                alt="">
        </div>
        <div class="slide-control-item">
            <img src="https://cdn.shopify.com/s/files/1/0640/3846/9846/files/Air-Jordan-4-Rare-Air-1.webp?v=1753523291?width=3840&quality=75"
                alt="">
        </div>
        <div class="slide-control-item">
            <img src="https://www.kickgame.com/cdn/shop/products/air-jordan-1-retro-high-og-shattered-backboard-3-555088-028_1.png?v=1658327479"
                alt="">
        </div>
        <div class="slide-control-item">
            <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2025/07/31/USAT/85454872007-nike-air-zoom-pegasus-41-unc.png?width=1733&height=1733&fit=crop&format=pjpg&auto=webp"
                alt="">
        </div>
    </div>

</div>

<!-- modal -->
<!-- <div id="modal" class="modal" #modal>
    <span id="modal-close" class="close">&times;</span>
    <img id="modal-content" class="modal-content">
    <div class="more-images">
        <div class="more-images-items">
            <img class="img-preview">
        </div>
        <div class="more-images-items">
            <img class="img-preview">
        </div>
        <div class="more-images-items">
            <img class="img-preview">
        </div>
        <div class="more-images-items">
            <img class="img-preview">
        </div>
    </div>
</div> -->

<div class="galeria">
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/c1e41062-e9ab-4477-9c2f-0ad27c24e159/WMNS+NIKE+AIR+MAX+MUSE.png"
        alt="">
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/ad54369b-2036-449e-b0b4-1b63032e973e/W+NIKE+AIR+SUPERFLY.png"
        alt="">
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/9984b760-a6f3-4b33-9076-dcc10152dc67/WMNS+NIKE+AIR+MAX+MUSE.png"
        alt="">

</div>
<div class="galeria">
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/285512b1-ea20-4341-9da9-1818ef1ad80e/VOMERO+5+%28GS%29.png"
        alt="">
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/0f694c48-e0fd-4c65-9a60-588a50af7c0d/NIKE+DUNK+LOW+%28GS%29.png"
        alt="">
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/f2a9595e-d7b2-4b43-a146-f4b8a9d0bc70/NIKE+DUNK+LOW+%28GS%29.png"
        alt="">

</div>










<div class="separado ">
    <div class="fila">
        <div class="col1 .fullseparado ">
            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/2781dfed-e426-48f5-862d-ebf8d18349c6/WMNS+NIKE+AIR+MAX+MUSE.png"
                alt="">

        </div>

        <div class="col1">
            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3331d678-5677-453f-bf16-b5a91f114201/W+NIKE+AIR+SUPERFLY+LX.png"
                alt="">

        </div>
    </div>
</div>




<!-- Cartas -->
<div class="cartas">

    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/71d0d5ac-e6a2-4d7e-b4b7-ef1e60d4cb58/W+NIKE+COURT+VISION+ALTA+LTR.png" alt="">
                <span class="card-title">Nike Court Vision Alta</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">5%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/cdc79cf3-ca49-4318-a15e-a7b137cf9884/W+NIKE+DUNK+LOW++TWIST.png
">

                <span class="card-title">Nike Dunk Low Twist</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">20%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img
                    src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/a76dbe11-bfd6-428f-9d3c-4c4e36ea8a47/FLEX+RUNNER+3+%28GS%29.png">

                <span class="card-title">Nike Flex Runner 3</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">10%</span>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="card">
            <div class="content-box">
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/23dd8c57-482b-4b97-94b6-4aedd09b03b8/WMNS+NIKE+AIR+MAX+SC.png" alt="">
                <span class="card-title">Nike Air Max SC 3</span>
                <p class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
                <span class="see-more">Ver más</span>
            </div>
            <div class="date-box">
                <span class="month">desc.</span>
                <span class="date">14%</span>
            </div>
        </div>
    </div>
</div>